@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var t = "t";
}
@{
    var paco = "test";
    if (Model.Content.Name!="Home")
    {
  
        IPublishedContent nodeRoot = Model.Content.GetPropertyValue("identifier").ToString() != "homePorra" ? Model.Content.Parent : Model.Content;
        IEnumerable<IPublishedContent> children = nodeRoot != null ? nodeRoot.Children : null;


    var parentNode = Model.Content.AncestorOrSelf(1);
    <div class="fixed">
        <div class="show-hide-1 row m-mobile-menu" style="overflow: hidden; display: none;">
            <div class="columns text-center">
                <div class="menu-primary-navigation-container">
                    <ul id="menu-primary-navigation" class="menu">
                        @{
                            if (children.Any())
                            {
                                foreach (IPublishedContent node in children.Where(node => node.HasProperty("isItemOfMainMenu") && node.GetPropertyValue("isItemOfMainMenu").ToString() == "True"))
                                { 

                                    <li id="menu-item-18" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18">
                                        <a href="@node.Url()">@node.Name</a>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
        <header class="l-header-internal l-top-bar" style="height: 70px;">
            <div class="row">
                <div class="columns large-3 small-3">
                    <div class="logo" style="line-height: 70px;">
                        <a href="@parentNode.Url">
                            <img src="/img/fcbLogo.png" alt="@parentNode.Name">
                        </a>
                    </div>
                    <script>
                        if (!Modernizr.svg) {
                            jQuery("#logo").attr('src', 'img/assets/logos/logo-white.png');
                        }
                    </script>
                </div>
                <div class="columns large-9 text-right hide-for-small">
                    <div class="menu-primary-navigation-container">
                        <ul id="menu-primary-navigation-1" class="menu">
                            @{
                                if (children.Any())
                                {
                                    foreach (IPublishedContent node in children.Where(node => node.HasProperty("isItemOfMainMenu") && node.GetPropertyValue("isItemOfMainMenu").ToString() == "True"))
                                    { 

                                        <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-18" style="line-height: 70px;">
                                            <a href="@node.Url()">@node.Name</a>
                                        </li>
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
                <div class="columns small-9 show-for-small text-right nav">
                    <div class="menu-primary-navigation-container">
                        <ul class="menu">
                            <li class="menu-item" style="line-height: 70px;">
                                <a class="show-hide-controller-1">Menu</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
    </div>
    }
}

