@using Library.Businness
@using Library.Helpers;
@using AlbertLlonguerasNew.Models
@using umbraco.cms.businesslogic.datatype
@using umbraco.editorControls.SettingControls
@using Member = umbraco.cms.businesslogic.member.Member
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "BasePage.cshtml";
}


@section bodyContent {
    
    <div class="columnsContainer">
 
        <div class="leftColumn">
    @Html.Partial("SignInForm", new SignInModel())
    @Html.Raw(library.RenderMacroContent(@Model.Content.GetPropertyValue("macroContainer").ToString(), Model.Content.Id))
        </div>
 
        <div class="rightColumn">
    @{
        if (Members.IsLoggedIn())
        {
            <h2>Nova porra</h2>
            var name = Membership.GetUserNameByEmail(Member.GetCurrentMember().Email);
            <p>@name</p>
            if (Membership.GetUser(name) != null)
            {
                @Html.Partial("CreatePorra", new NewPorraModel
                {
                    Player = name,
                    PorraNode = Utils.GetPlayerNode(Model, name),
                    MatchIdentifier = Library.Businness.PorraManager.GetMatchIdentifier(Model.Content)
                })
            }
        } 
    }
        </div>
    </div>



}
