@using AlbertLlonguerasNew.Controllers
@using umbraco.cms.businesslogic.web
@using umbraco.BusinessLogic;
@using Member = umbraco.cms.businesslogic.member.Member
@model AlbertLlonguerasNew.Models.NewPorraModel

@{
    if (TempData["PorraSuccess"] == null || !Boolean.Parse(TempData["PorraSuccess"].ToString()))
    {
        var ddl = Library.Businness.TeamsManager.LoadTeams();
        using (Html.BeginUmbracoForm<NewPorraController>("CreatePorra"))
        {
    @Html.Label("Insert local team")
    @Html.DropDownListFor(x => x.LocalTeam, new SelectList(ddl, "Team", "Team"))
    @Html.Raw("</br>")
    @Html.Label("Insert local scores")
    @Html.TextBoxFor(x => x.LocalScore) 
    @Html.Raw("</br>")
    @Html.Label("Insert visitor team")
    @Html.DropDownListFor(x => x.VisitorTeam, new SelectList(ddl, "Team", "Team"))
    @Html.Raw("</br>")
    @Html.Label("Insert visitor scores")
    @Html.TextBoxFor(x => x.VisitorScore)
            TempData["Player"] = Model.Player;
            TempData["PorraNode"] = Model.PorraNode;
            TempData["MatchIdentifier"] = Model.MatchIdentifier;
    @Html.Raw("</br>")
    @Html.Raw("</br>")
    <input type="submit" />
        }
    }
}
@{
    if (TempData["PorraSuccess"] != null && Boolean.Parse(TempData["PorraSuccess"].ToString()))
    {
        if (TempData["ErrorLog"] != null)
        {
            <p class="text-warning">@TempData["ErrorLog"]</p>
        }
        else
        {
            <p>@TempData["LocalTeam"]</p>
            <p>@TempData["LocalScore"]</p>
            <p>@TempData["VisitorTeam"]</p>
            <p>@TempData["VisitorScore"]</p>
            DocumentType dt = DocumentType.GetByAlias("Porra");
            var currentUser = Member.GetCurrentMember();
            User author = new User(0);
            Document doc = Document.MakeNew(@Model.MatchIdentifier, dt, currentUser.User, Model.PorraNode.Id);
            doc.getProperty("porraIdentifier").Value = Model.MatchIdentifier;
            doc.getProperty("localTeam").Value = TempData["LocalTeam"];
            doc.getProperty("localScore").Value = TempData["LocalScore"];
            doc.getProperty("visitorTeam").Value = TempData["VisitorTeam"];
            doc.getProperty("visitorScore").Value = TempData["VisitorScore"];
            doc.Publish(author);
        }
    }
}
