@using AlbertLlonguerasNew.Controllers
@using umbraco.cms.businesslogic.web
@using umbraco.BusinessLogic;
@using Member = umbraco.cms.businesslogic.member.Member
@using MemberType = umbraco.cms.businesslogic.member.MemberType
@model AlbertLlonguerasNew.Models.SignInModel

@*Create member according to the response*@
@{
    if (User.Identity.IsAuthenticated)
    {
        <p>Logged in: @Member.GetCurrentMember().getProperty("nickName").Value</p>
        <p>@Html.ActionLink("Log out", "MemberUmbLogout", "SignInForm")</p>
    }
    else
    {
        using (Html.BeginUmbracoForm("MemberUmbLogin", "SignInForm"))
        {
            @Html.EditorFor(x => Model)
            <input type="submit" />
        }
        <p>@TempData["Status"]</p>
        if (TempData["SignInSuccess"] != null)
        {
            var success = Boolean.Parse(TempData["SignInSuccess"].ToString());
            var email = @TempData["Email"].ToString();
            var password = @TempData["Password"].ToString();
            <p>@Membership.GetUser()</p>

        }
    }
}



